body {
  background-image: url("cardboard.png");
  font-size: 80%;
  padding: 20px;
}

main {
  background-image: url("subtle_feathers.png");
  height: 800px;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

main div {
  /*background: black;*/
  background-color: rgba(106, 139, 52, 1);
  color: white;
  width: 75%;
  padding: 20px;
  resize: both;
  overflow: auto;
  font-size: 50px;
  text-align: center;
}